<div class="modal hide fade" id="new-reading-modal">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
        <h3>Add a New Reading</h3>
    </div>
    <div class="modal-body">
        <form id="new-reading-form" class="well form-horizontal"
            action="{{ url_for('list_readings') }}" method="post" accept-charset="utf-8">
            <fieldset>
                {{ form.hidden_tag() }}
                <div class="control-group">
                    <div class="control-label">{{ form.name.label }}</div>
                    <div class="controls">
                        {{ form.name|safe }}
                        {% if form.name.errors %}
                        <ul class="errors">
                            {% for error in form.name.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">{{ form.source.label }}</div>
                    <div class="controls">
                        {{ form.source|safe }}
                        {% if form.source.errors %}
                        <ul class="errors">
                            {% for error in form.source.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">{{ form.temp_c.label }}</div>
                    <div class="controls">
                        {{ form.temp_c|safe }}
                        {% if form.temp_c.errors %}
                        <ul class="errors">
                            {% for error in form.temp_c.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input class="btn btn-primary" type="submit" value="Add Reading"/>
                        <button class="btn" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

